body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: purple;
}

a {
  text-decoration: none;
  margin: 0 20px 0 20px;
  color: lightgreen;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

li {
  text-decoration: none;
  list-style: none;
}

.navBar {
  height: 15vh;
  background: rgb(96, 40, 156);
  background: linear-gradient(-90deg, rgb(5, 175, 62) 0%, rgb(119, 11, 158) 44%, rgb(128, 0, 128) 65%);
  display: flex;
  justify-content: end;
  align-items: center;
}

.logoNav {
  position: absolute;
  width: 110px;
  left: 75px;
}

.navList {
  display: flex;
  margin-right: 180px;
}

.inicioImg {
  width: 100%;
}